<div class="content">

  <div id="main-container">

    <!-- HEADER -->
    <header id="header">

      <div class="container">
        <div class="row">
          <div class="col-sm-3">

            <!-- LOGO -->
            <div id="logo">
              <a href="index-2.html">
                <img src="../assets/images/logo.png" alt="">
              </a>
            </div><!-- LOGO -->

          </div><!-- col -->
          <div class="col-sm-9">

            <!-- MENU -->
            <nav>

              <a id="mobile-menu-button" class="waves" href="#"><i class="halcyon-icon-menu"></i></a>

              <ul class="menu clearfix" id="menu">
                <li class="megamenu active">
                  <a href="index-2.html">Home</a>
                  <div class="megamenu-container col-5">
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-01/index.html">Home v.01</a></li>
                        <li><a class="waves" href="index-2.html">Home v.02</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-03/index.html">Home v.03</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-04/index.html">Home v.04</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-05/index.html">Home v.05</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-06/index.html">Home v.06</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-07/index.html">Home v.07</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-08/index.html">Home v.08</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-09/index.html">Home v.09</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-10/index.html">Home v.10</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-11/index.html">Home v.11</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-12/index.html">Home v.12</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-13/index.html">Home v.13</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-14/index.html">Home v.14</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-15/index.html">Home v.15</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-16/index.html">Home v.16</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-17/index.html">Home v.17</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-18/index.html">Home v.18</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-19/index.html">Home v.19</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-20/index.html">Home v.20</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-21/index.html">Home v.21</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-22/index.html">Home v.22</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-23/index.html">Home v.23</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-24/index.html">Home v.24</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-25/index.html">Home v.25</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-26/index.html">Home v.26</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-27/index.html">Home v.27</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-28/index.html">Home v.28</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-29/index.html">Home v.29</a></li>
                        <li><a class="waves" href="http://milothemes.com/halcyon/demo-30/index.html">Home v.30</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section x2">

                      <h6>Halcyon - Multipurpose Modern Website Template</h6>

                      <p><img src="../assets/images/preview.jpg" alt=""></p>

                      <p><strong>Halcyon</strong> is a complete product with 30 different home pages,
                        with a large variation of header and footer styles and a large number of
                        elements and sections.</p>

                    </div><!-- section -->
                  </div><!-- megamenu-container -->
                </li>
                <li class="dropdown">
                  <a href="#">Features</a>
                  <ul>
                    <li class="dropdown">
                      <a class="waves" href="#">Sticky header</a>
                      <ul>
                        <li><a class="waves" href="features-sticky-header.html">With sticky header</a></li>
                        <li><a class="waves" href="features-no-sticky-header.html">Without sticky header</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Page header</a>
                      <ul>
                        <li><a class="waves" href="features-page-header-ken-burns.html">Page header ken burns</a></li>
                        <li><a class="waves" href="features-page-header-parallax.html">Page header parallax</a></li>
                        <li><a class="waves" href="features-page-header-simple.html">Page header simple</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Footer</a>
                      <ul>
                        <li><a class="waves" href="features-footer-style-1.html">Footer style 1</a></li>
                        <li><a class="waves" href="features-footer-style-2.html">Footer style 2</a></li>
                        <li><a class="waves" href="features-footer-style-3.html">Footer style 3</a></li>
                        <li><a class="waves" href="features-footer-style-4.html">Footer style 4</a></li>
                        <li><a class="waves" href="features-footer-style-5.html">Footer style 5</a></li>
                        <li><a class="waves" href="features-footer-style-6.html">Footer style 6</a></li>
                        <li><a class="waves" href="features-footer-style-7.html">Footer style 7</a></li>
                        <li><a class="waves" href="features-footer-style-8.html">Footer style 8</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Pages</a>
                  <ul>
                    <li class="dropdown">
                      <a class="waves" href="#">About us</a>
                      <ul>
                        <li><a class="waves" href="about-us.html">About us 1</a></li>
                        <li><a class="waves" href="about-us-2.html">About us 2</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Services</a>
                      <ul>
                        <li><a class="waves" href="services.html">Services 1</a></li>
                        <li><a class="waves" href="services-2.html">Services 2</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Single service</a>
                      <ul>
                        <li><a class="waves" href="single-service.html">Single service 1</a></li>
                        <li><a class="waves" href="single-service-2.html">Single service 2</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Contact</a>
                      <ul>
                        <li><a class="waves" href="contact.html">Contact 1</a></li>
                        <li><a class="waves" href="contact-2.html">Contact 2</a></li>
                        <li><a class="waves" href="contact-3.html">Contact 3</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Special pages</a>
                      <ul>
                        <li><a class="waves" href="error-404.html">Error 404 (1)</a></li>
                        <li><a class="waves" href="error-404-2.html">Error 404 (2)</a></li>
                        <li><a class="waves" href="maintenance.html">Maintenance</a></li>
                        <li><a class="waves" href="coming-soon.html">Coming soon</a></li>
                        <li><a class="waves" href="faq.html">FAQ</a></li>
                        <li><a class="waves" href="search-results.html">Search results</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Samples pages</a>
                      <ul>
                        <li><a class="waves" href="page-no-sidebar.html">No sidebar</a></li>
                        <li><a class="waves" href="page-right-sidebar.html">Right sidebar</a></li>
                        <li><a class="waves" href="page-left-sidebar.html">Left sidebar</a></li>
                        <li><a class="waves" href="page-fluid.html">Fluid page</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Portfolio</a>
                  <ul>
                    <li class="dropdown">
                      <a class="waves" href="#">Portfolio pagination</a>
                      <ul>
                        <li><a class="waves" href="portfolio-pagination-no-gutter.html">3 cols (no gutter)</a></li>
                        <li><a class="waves" href="portfolio-pagination-gutter.html">3 cols (gutter)</a></li>
                        <li><a class="waves" href="portfolio-pagination-titles.html">3 cols (titles)</a></li>
                        <li><a class="waves" href="portfolio-pagination-gutter-titles.html">3 cols (gutter &amp; titles)</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Portfolio filter</a>
                      <ul>
                        <li><a class="waves" href="portfolio-filter-no-gutter.html">3 cols (no gutter)</a></li>
                        <li><a class="waves" href="portfolio-filter-gutter.html">3 cols (gutter)</a></li>
                        <li><a class="waves" href="portfolio-filter-titles.html">3 cols (titles)</a></li>
                        <li><a class="waves" href="portfolio-filter-gutter-titles.html">3 cols (gutter &amp; titles)</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a class="waves" href="#">Portfolio fullwidth</a>
                      <ul>
                        <li><a class="waves" href="portfolio-fullwidth-no-gutter.html">4 cols (no gutter)</a></li>
                        <li><a class="waves" href="portfolio-fullwidth-gutter.html">4 cols (gutter)</a></li>
                        <li><a class="waves" href="portfolio-fullwidth-titles.html">4 cols (titles)</a></li>
                        <li><a class="waves" href="portfolio-fullwidth-gutter-titles.html">4 cols (gutter &amp; titles)</a></li>
                      </ul>
                    </li>
                    <li><a class="waves" href="portfolio-masonry.html">Portfolio masonry</a></li>
                    <li><a class="waves" href="portfolio-classic.html">Portfolio classic</a></li>
                    <li class="dropdown">
                      <a class="waves" href="#">Portfolio single</a>
                      <ul>
                        <li><a class="waves" href="portfolio-single.html">Portfolio single 1</a></li>
                        <li><a class="waves" href="portfolio-single-2.html">Portfolio single 2</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#">Blog</a>
                  <ul>
                    <li><a class="waves" href="blog-right-sidebar.html">Blog right sidebar</a></li>
                    <li><a class="waves" href="blog-left-sidebar.html">Blog left sidebar</a></li>
                    <li><a class="waves" href="blog-no-sidebar.html">Blog no sidebar</a></li>
                    <li class="dropdown">
                      <a class="waves" href="#">Blog post</a>
                      <ul>
                        <li><a class="waves" href="blog-post-right-sidebar.html">Blog post right sidebar</a></li>
                        <li><a class="waves" href="blog-post-left-sidebar.html">Blog post left sidebar</a></li>
                        <li><a class="waves" href="blog-post-no-sidebar.html">Blog post no sidebar</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="megamenu">
                  <a href="#">Shortcodes</a>
                  <div class="megamenu-container col-4">
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="shortcodes-grid.html">Grid</a></li>
                        <li><a class="waves" href="shortcodes-typography.html">Typography</a></li>
                        <li><a class="waves" href="shortcodes-lists.html">Lists</a></li>
                        <li><a class="waves" href="shortcodes-headlines.html">Headlines</a></li>
                        <li><a class="waves" href="shortcodes-tables.html">Tables</a></li>
                        <li><a class="waves" href="shortcodes-forms.html">Forms</a></li>
                        <li><a class="waves" href="shortcodes-buttons.html">Buttons</a></li>
                        <li><a class="waves" href="shortcodes-dividers.html">Dividers</a></li>
                        <li><a class="waves" href="shortcodes-icons-pack.html">Icons pack</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="shortcodes-alerts.html">Alerts</a></li>
                        <li><a class="waves" href="shortcodes-text-boxes.html">Text boxes</a></li>
                        <li><a class="waves" href="shortcodes-image-boxes.html">Image boxes</a></li>
                        <li><a class="waves" href="shortcodes-services-boxes.html">Services boxes</a></li>
                        <li><a class="waves" href="shortcodes-timeline.html">Timeline</a></li>
                        <li><a class="waves" href="shortcodes-process-steps.html">Process steps</a></li>
                        <li><a class="waves" href="shortcodes-pricing-plans.html">Pricing plans</a></li>
                        <li><a class="waves" href="shortcodes-team.html">Team</a></li>
                        <li><a class="waves" href="shortcodes-testimonials.html">Testimonials</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="shortcodes-accordions.html">Accordions</a></li>
                        <li><a class="waves" href="shortcodes-tabs.html">Tabs</a></li>
                        <li><a class="waves" href="shortcodes-maps.html">Maps</a></li>
                        <li><a class="waves" href="shortcodes-clients.html">Clients</a></li>
                        <li><a class="waves" href="shortcodes-galleries.html">Galleries</a></li>
                        <li><a class="waves" href="shortcodes-media-content.html">Media content</a></li>
                        <li><a class="waves" href="shortcodes-social-media.html">Social media</a></li>
                        <li><a class="waves" href="shortcodes-filters-paginations.html">Filters &amp; Paginations</a></li>
                        <li><a class="waves" href="shortcodes-widgets.html">Widgets</a></li>
                      </ul>

                    </div><!-- section -->
                    <div class="section">

                      <ul>
                        <li><a class="waves" href="shortcodes-counters.html">Counters</a></li>
                        <li><a class="waves" href="shortcodes-pie-charts.html">Pie charts</a></li>
                        <li><a class="waves" href="shortcodes-progress-bars.html">Progress bars</a></li>
                        <li><a class="waves" href="shortcodes-statistics.html">Statistics</a></li>
                        <li><a class="waves" href="shortcodes-animations.html">Animations</a></li>
                        <li><a class="waves" href="shortcodes-sliders.html">Sliders</a></li>
                        <li><a class="waves" href="shortcodes-full-sections.html">Full sections</a></li>
                        <li><a class="waves" href="shortcodes-parallax-backgrounds.html">Parallax backgrounds</a></li>
                        <li><a class="waves" href="shortcodes-video-backgrounds.html">Video backgrounds</a></li>
                      </ul>

                    </div><!-- section -->
                  </div><!-- megamenu-container -->
                </li>
                <li class="search">

                  <a href="#search-form-container"><i class="halcyon-icon-search-1"></i></a>

                  <div id="search-form-container">

                    <form id="search-form" action="#">
                      <input id="search" type="search" name="search" placeholder="Enter keywords...">
                      <input id="search-submit" type="submit" value="">
                    </form>

                  </div><!-- search-form-container -->

                </li>
                <li class="login">

                  <a class="btn bordered" href="#login-form-container">Sign In</a>

                  <div id="login-form-container">

                    <h4>Login Form</h4>

                    <form class="login-form" name="login" novalidate method="post" action="#">
                      <fieldset>

                        <p>
                          <input class="col-xs-12" id="email" type="email" placeholder="" required>
                          <label for="email">E-mail address</label>
                        </p>

                        <p>
                          <input class="col-xs-12" id="password" type="password" placeholder="" required>
                          <label for="password">Password</label>
                        </p>

                        <div class="checkbox">
                          <label>
                            <input type="checkbox"> Remember me
                          </label>
                        </div>

                        <button type="submit" class="btn btn-default-1 waves">Log in</button>

                      </fieldset>
                    </form>

                    <a href="#">Don't have an account?</a> <br class="visible-xs-block">
                    <a href="#">Forgotten password?</a>

                  </div><!-- login-form-container -->

                </li>
              </ul>

            </nav>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </header><!-- HEADER -->


    <!-- PAGE CONTENT -->
    <div id="page-content">

      <div class="rev_slider_wrapper">
        <div class="rev_slider" data-version="5.0">
          <ul>
            <li data-transition="fade" data-thumb="../assets/images_2/index/revolution-slider/bg-slide-1.jpg">

              <img src="../assets/images_2/index/revolution-slider/bg-slide-1.jpg" alt="">

              <div class="tp-caption icons"
                   data-x="center"
                   data-y="center"
                   data-voffset="-55"
                   data-hoffset="-145"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;y:-100;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
                <i class="halcyon-icon-smartphone-10"></i> <br> Responsive.
              </div>

              <div class="tp-caption icons"
                   data-x="center"
                   data-y="center"
                   data-voffset="-55"
                   data-start="1250"
                   data-speed="300"
                   data-transform_in="o:0;y:-100;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
                <i class="halcyon-icon-worldwide-1"></i> <br> Awesome.
              </div>

              <div class="tp-caption icons"
                   data-x="center"
                   data-y="center"
                   data-voffset="-55"
                   data-hoffset="125"
                   data-start="1300"
                   data-speed="300"
                   data-transform_in="o:0;y:-100;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;y:-100;s:500;e:Power2.easeInOut;">
                <i class="halcyon-icon-bookmark"></i> <br> Awarded
              </div>

              <div class="tp-caption title-white"
                   data-x="center"
                   data-y="center"
                   data-voffset="55"
                   data-start="1400"
                   data-speed="300"
                   data-transform_in="o:0;y:100;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;y:100;s:500;e:Power2.easeInOut;">
                Explore a new world
              </div>

            </li>
            <li data-transition="fade" data-thumb="../assets/images_2/index/revolution-slider/bg-slide-2.jpg">

              <img src="../assets/images_2/index/revolution-slider/bg-slide-2.jpg" alt="">

              <div class="tp-caption rectangle"
                   data-x="center"
                   data-y="center"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;s:500;e:Power2.easeInOut;">
              </div>

              <div class="tp-caption special-text"
                   data-x="center"
                   data-y="center"
                   data-voffset="-40"
                   data-start="1250"
                   data-speed="300"
                   data-transform_in="o:0;y:-50;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;s:500;e:Power2.easeInOut;">
                We love it
              </div>

              <div class="tp-caption title-white text-uppercase"
                   data-x="center"
                   data-y="center"
                   data-voffset="40"
                   data-start="1250"
                   data-speed="300"
                   data-transform_in="o:0;y:50;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;s:500;e:Power2.easeInOut;">
                <strong>Top services 4u</strong>
              </div>

            </li>
            <li data-transition="fade" data-thumb="../assets/images_2/index/revolution-slider/bg-slide-3.jpg">

              <img src="../assets/images_2/index/revolution-slider/bg-slide-3.jpg" alt="">

              <div class="tp-caption square"
                   data-x="0"
                   data-y="center"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;x:-50;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;x:-50;s:500;e:Power2.easeInOut;">
              </div>

              <div class="tp-caption rectangle-white"
                   data-x="170"
                   data-y="center"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;x:150;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;x:150;s:500;e:Power2.easeInOut;">
              </div>

              <div class="tp-caption subtitle-big text-uppercase"
                   data-x="220"
                   data-y="center"
                   data-voffset="-15"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;x:150;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;x:150;s:500;e:Power2.easeInOut;">
                All you need is Halcyon
              </div>

              <div class="tp-caption text-small"
                   data-x="220"
                   data-y="center"
                   data-voffset="25"
                   data-start="1200"
                   data-speed="300"
                   data-transform_in="o:0;x:150;s:500;e:Power2.easeInOut;"
                   data-transform_out="o:0;x:150;s:500;e:Power2.easeInOut;">
                Simple, Modern, 30 Homepages, Clean coded and so many features
              </div>

            </li>
          </ul>
        </div><!-- rev_slider_wrapper -->
      </div><!-- rev_slider -->

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="headline text-center">

              <h2>How do we play?</h2>
              <p>A unique layout composed of 30 different homepages</p>

            </div><!-- headline -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="tabs style-2">

              <ul class="nav nav-tabs text-center">
                <li class="active"><a class="waves" href="#tab-1-1" data-toggle="tab">01.Research</a></li>
                <li><a class="waves" href="#tab-1-2" data-toggle="tab">02.Contact us</a></li>
                <li><a class="waves" href="#tab-1-3" data-toggle="tab">03.Purchase</a></li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade in active" id="tab-1-1">

                  <div class="row">
                    <div class="col-sm-6">

                      <br class="hidden-sm hidden-xs">

                      <h2>Easy to customize &amp; <br> a pleasure to work with</h2>

                      <h5 class="text-default-color-1"><strong>All you need is Halcyon , modern and simple. Equipted with all the elements you need.</strong></h5>

                      <br>

                      <p>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu
                        est sed imperdiet. Curabitur ultrices dolor magna, at vene natis lacus rutrum
                        nec. Quisque elit velit, lacinia sit amet tellus at, auctor suscipit metus. Duis
                        congue nibh at tortor ornare, sed commo do ipsum mattis. Phasellus lacinia sed
                        purus eget rhoncus. Mauris ut tortor efficitur, vestibulum magna nec, rhoncus
                        neque.</p>

                    </div><!-- col -->
                    <div class="col-sm-6">

                      <img src="../assets/images_2/index/tabs/image-1.png" alt="">

                      <div class="discount">
                        <small>Up to</small>
                        75%
                        <small class="text-right">better</small>
                      </div>

                    </div><!-- col -->
                  </div><!-- row -->

                </div><!-- tab-pane -->
                <div class="tab-pane fade" id="tab-1-2">

                  <div class="row">
                    <div class="col-sm-6">

                      <br class="hidden-sm hidden-xs">

                      <h2>Donec sit amet gravida quam. Aliquam erat sem</h2>

                      <h5 class="text-default-color-1"><strong>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est sed.</strong></h5>

                      <br>

                      <p>Proin diam nisi, auctor sed volutpat eu, placerat eu sem. Ut interdum neque
                        pulvinar volutpat sollicitudin. Vivamus egestas, velit quis dignissim
                        scelerisque, lorem odio efficitur felis, eget luctus ligula nisl sit amet leo.
                        Donec sit amet gravida quam. Aliquam erat sem, euismod at magna quis, aliquet
                        egestas urna. Vivamus consequat lacus feugiat arcu finibus, vel iaculis enim
                        consectetur.</p>

                    </div><!-- col -->
                    <div class="col-sm-6">

                      <img src="../assets/images_2/index/tabs/image-2.png" alt="">

                      <div class="discount">
                        <small>Up to</small>
                        55%
                        <small class="text-right">better</small>
                      </div>

                    </div><!-- col -->
                  </div><!-- row -->

                </div><!-- tab-pane -->
                <div class="tab-pane fade" id="tab-1-3">

                  <div class="row">
                    <div class="col-sm-6">

                      <br class="hidden-sm hidden-xs">

                      <h2>Morbi suscipit rhoncus nulla sit amet duis</h2>

                      <h5 class="text-default-color-1"><strong>Donec sit amet gravida quam. Aliquam
                        erat sem, euismod at magna quis, aliquet dolor sit amet.</strong></h5>

                      <br>

                      <p>Etiam commodo vel arcu eu commodo. Mauris ultricies sem id lacinia interdum.
                        Morbi suscipit rhoncus nulla, sit amet placerat purus. Suspendisse commodo eros
                        mauris, accumsan ultricies nisl sodales sed. Sed sed pharetra elit, eu interdum
                        eros. Phasellus felis nisl, consectetur eu vestibulum non, iaculis id tellus.
                        Donec suscipit, nisl ac semper tristique, est mi suscipit purus, at posuere velit
                        turpis.</p>

                    </div><!-- col -->
                    <div class="col-sm-6">

                      <img src="../assets/images_2/index/tabs/image-3.png" alt="">

                      <div class="discount">
                        <small>Up to</small>
                        60%
                        <small class="text-right">better</small>
                      </div>

                    </div><!-- col -->
                  </div><!-- row -->

                </div><!-- tab-pane -->
              </div><!-- tab-content -->

            </div><!-- tabs -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <section class="full-section dark-section parallax" id="section-6" data-stellar-background-ratio="0.1">

        <div class="full-section-overlay-color"></div>

        <div class="full-section-container">

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <p class="text-center"><img src="../assets/images/logo.png" alt=""></p>
                <p class="text-center"><em>Let you business speak for itself with this theme</em></p>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->

      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <div class="service-box style-8 wow fadeIn" data-wow-duration="1s">

              <img src="../assets/images_2/services/image-1.jpg" alt="">
              <i class="halcyon-icon-diamond"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Powerful design</a></h6>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae dui interdum,
                  rhoncus velit.</p>

                <a href="single-service.html">Read more</a>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-8 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="1s">

              <img src="../assets/images_2/services/image-2.jpg" alt="">
              <i class="halcyon-icon-network"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Media support</a></h6>

                <p>Cras ultrices tempus leo, quis luctus neque tristique aliquam. Nulla id porta nisl. Nunc
                  ut commodo nulla.</p>

                <a href="single-service.html">Read more</a>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-8 wow fadeIn" data-wow-delay="0.2s" data-wow-duration="1s">

              <img src="../assets/images_2/services/image-3.jpg" alt="">
              <i class="halcyon-icon-folder-6"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Well documented files</a></h6>

                <p>Fusce sit amet luctus erat. In elementum faucibus porttitor. Vivamus et ultrices ligula, a
                  ultricies quam.</p>

                <a href="single-service.html">Read more</a>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <br><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <h2 class="text-center">After 4 years of constant research we came up with <br class="visible-lg-block"> Core. A new Experience.</h2>

            <br>

            <p class="text-center">
              <a class="btn btn-default-1 waves" href="#">Purchase Item <i class="fa fa-angle-right"></i></a>
            </p>

            <p class="text-center">designed by <strong>milothemes.</strong> <br> Sold exclusivley on Envato Marketplace</p>

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="hr"></div>

      <br>

      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp">

              <i class="halcyon-icon-network"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Media support</a></h6>

                <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Pellentesque vitae dui interdum,
                  rhoncus velit.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.1s">

              <i class="halcyon-icon-smartphone-10"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Responsive</a></h6>

                <p>Suspendisse dapibus malesuada lectus, a aliquet odio semper non. Pellentesque in accumsan
                  dolor sit amet.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.2s">

              <i class="halcyon-icon-notebook-4"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Well documented</a></h6>

                <p>Maecenas tempor massa et laoreet malesuada. Pellentesque sit amet elementum leo fuis unde
                  dolor amet omis.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp">

              <i class="halcyon-icon-file"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Clean coded</a></h6>

                <p>Pellentesque euismod ligula sit amet purus iaculis, in elementum tortor mollis. Aliquam id
                  facilisis metus.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.1s">

              <i class="halcyon-icon-controls-4"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Color schemes</a></h6>

                <p>Nam aliquam iaculis tristique. In scelerisque pretium quam pretium tempus. Vivamus
                  blandit, quis lobortis.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.2s">

              <i class="halcyon-icon-spotlight"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Modern design</a></h6>

                <p>Sed ultricies a sem sed porta. In nec quam eu purus lacinia dapibus. Mauris egestas
                  tincidunt nisl id finibus.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp">

              <i class="halcyon-icon-settings-4"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Support included</a></h6>

                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Proin velit massa, venenatis
                  quis tincidunt eu.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.1s">

              <i class="halcyon-icon-bookmark-1"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Blog pages</a></h6>

                <p>Vivamus pharetra neque ac finibus convallis. Maecenas rutrum lectus nulla, iaculis maximus
                  purus efficitur sit amet.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="service-box style-11 wow fadeInUp" data-wow-delay="0.2s">

              <i class="halcyon-icon-folder-4"></i>

              <div class="service-box-content">

                <h6><a href="single-service.html">Contact form</a></h6>

                <p>Donec pretium aliquet velit, ut suscipit mauris consequat in. Pellentesque posuere maximus
                  lorem ac luctus.</p>

              </div><!-- service-box-content -->

            </div><!-- service-box -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <section class="full-section dark-section parallax no-margin-bottom" id="section-1" data-stellar-background-ratio="0.1">
        <div class="full-section-container">

          <div class="container">
            <div class="row">
              <div class="col-sm-12 text-center">

                <h6 class="testimonial-title">Happy Clients</h6>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <div class="testimonial">

                  <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit lobortis dolor. Cras
                      placerat lectus a posuere aliquet. Curabitur quis vehicula odio.</p>
                  </blockquote>

                  <h5>John Turner, <span>wp maniac</span></h5>

                </div><!-- testimonial -->

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->

      <section class="full-section half-image" id="section-7">

        <div class="half-image-left wow fadeInLeft" style="background-image:url(../assets/images_2/index/image-3.png);">

          <img src="../assets/images_2/index/image-3.png" alt="">

        </div><!-- half-image-left -->

        <div class="full-section-container">

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-offset-7 col-md-4">

                <h2>Easy to customize &amp; <br class="visible-lg-block"> a pleasure to work with</h2>

                <br>

                <p><strong>Aenean luctus mi mollis quam feugiat consequat eu sed eros. Cras suscipit eu est
                  sed imperdiet. Curabitur ultrices dolor magna, at venenatis lacus rutrum nec. Quisque elit
                  velit, lacinia sit amet tellus at, auctor suscipit metus. Duis congue nibh at tortor ornare,
                  sed commodo ipsum mattis. Phasellus lacinia sed purus eget rhoncus. </strong></p>

                <br>

                <h6 class="text-uppercase"><strong>&quot;Simply great&quot;</strong></h6>

                <blockquote>

                  <p>&quot;Lorem ipsum dolor sit amet, conse ctetur adipiscing elit. lobortis dolor. Cras placerat lectus a posuere aliq uet. Curabitur quis vehicula.&quot;</p>

                  <footer>
                    <img src="../assets/images_2/testimonials/image-1.jpg" alt="">
                    <em>Mark Ronson, Creatika</em>
                  </footer>
                </blockquote>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container-fluid -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->

      <section class="full-section dark-section parallax" id="section-5" data-stellar-background-ratio="0.1">
        <div class="full-section-container">

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <h3 class="text-center">Subscribe to our newsletter to get the latest trends &amp; news</h3>
                <h5 class="text-center">Join our database NOW!</h5>

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

          <div class="container">
            <div class="row">
              <div class="col-sm-12">

                <div class="widget widget-newsletter">

                  <form name="newsletter" novalidate method="post" action="#">
                    <fieldset>
                      <div class="row">
                        <div class="col-sm-3">

                          <input type="text" name="name" placeholder="Name">

                        </div><!-- col -->
                        <div class="col-sm-6">

                          <input type="text" name="email" placeholder="Your e-mail">

                        </div><!-- col -->
                        <div class="col-sm-3">

                          <button class="btn btn-default-1 waves" type="submit" name="submit" value="">Subscribe <i class="fa fa-angle-right"></i></button>

                        </div><!-- col -->
                      </div><!-- row -->
                    </fieldset>
                  </form>

                </div><!-- widget-newsletter -->

              </div><!-- col -->
            </div><!-- row -->
          </div><!-- container -->

        </div><!-- full-section-container -->
      </section><!-- full-section -->

      <br><br><br>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div class="headline text-center">

              <h2>What else is new?</h2>
              <p>A unique layout composed of 30 different homepages</p>

            </div><!-- headline -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-sm-4">

            <div class="blog-article latest">

              <div class="blog-article-thumbnail">

                <a href="blog-post-right-sidebar.html"><img src="../assets/images_2/blog/image-1.jpg" alt=""></a>

              </div><!-- blog-article-thumbnail -->

              <h6 class="blog-article-subtitle"><a href="#">Lifestyle &amp; Travel</a></h6>

              <h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">The true story about how our company started</a></h4>

              <div class="blog-article-content">

                <p>Tempor massa et laoreet malesuada. Pellentesque sit amet elementum leo. Vivamus
                  massa.Tempor massa et laoreet malesuada. Pellentesque sit...</p>

              </div><!-- blog-article-content -->

            </div><!-- blog-article -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="blog-article latest">

              <div class="blog-article-thumbnail">

                <a href="blog-post-right-sidebar.html"><img src="../assets/images_2/blog/image-2.jpg" alt=""></a>

              </div><!-- blog-article-thumbnail -->

              <h6 class="blog-article-subtitle"><a href="#">Tips &amp; tricks</a></h6>

              <h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">5 ways to get rid of your <br class="visible-lg-block"> headeach</a></h4>

              <div class="blog-article-content">

                <p>Laoreet malesuada. Pellentesque sit amet elementum leo. Vivamus augue. Tempor massa et
                  laoreet malesu ada. Pellentesque sit amet elementum...</p>

              </div><!-- blog-article-content -->

            </div><!-- blog-article -->

          </div><!-- col -->
          <div class="col-sm-4">

            <div class="blog-article latest">

              <div class="blog-article-thumbnail">

                <a href="blog-post-right-sidebar.html"><img src="../assets/images_2/blog/image-3.jpg" alt=""></a>

              </div><!-- blog-article-thumbnail -->

              <h6 class="blog-article-subtitle"><a href="#">Lifestyle &amp; Travel</a></h6>

              <h4 class="blog-article-title"><a href="blog-post-right-sidebar.html">How to get started in a social media business</a></h4>

              <div class="blog-article-content">

                <p>Pellentesque sit amet elementum leo. Vivamus augue massa.Tempor massa et laoreet
                  malesuada. Pellentesque elementum leo. Vivamus augue...</p>

              </div><!-- blog-article-content -->

            </div><!-- blog-article -->

          </div><!-- col -->
        </div><!-- row -->
      </div><!-- container -->

    </div><!-- PAGE CONTENT -->


    <!-- FOOTER -->
    <footer id="footer-container">

      <div id="footer">

        <div class="container">
          <div class="row">
            <div class="col-sm-2">

              <div class="widget widget-text">

                <div>

                  <img src="../assets/images/footer-logo.png" alt="">

                </div>

              </div><!-- widget-text -->

            </div><!-- col -->
            <div class="col-sm-7">

              <div class="widget widget-pages last">

                <h6 class="widget-title">Learn More</h6>

                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Our Customers</a></li>
                  <li><a href="#">Pricing and Plans</a></li>
                  <li><a href="#">New Features</a></li>
                  <li><a href="#">Jobs</a></li>
                </ul>

              </div><!-- widget-pages -->

              <div class="widget widget-pages last">

                <h6 class="widget-title">Support</h6>

                <ul>
                  <li><a href="#">Company</a></li>
                  <li><a href="#">The Blog</a></li>
                  <li><a href="#">Testimonials</a></li>
                  <li><a href="#">Pricing and Plans</a></li>
                  <li><a href="#">New Features</a></li>
                  <li><a href="#">Terms of service</a></li>
                </ul>

              </div><!-- widget-pages -->

              <div class="widget widget-pages">

                <h6 class="widget-title">About us</h6>

                <ul>
                  <li><a href="#">About us</a></li>
                  <li><a href="#">Our team</a></li>
                  <li><a href="#">Memebers</a></li>
                  <li><a href="#">Company History</a></li>
                  <li><a href="#">Why choose us</a></li>
                  <li><a href="#">Faq</a></li>
                </ul>

              </div><!-- widget-pages -->

            </div><!-- col -->
            <div class="col-sm-3">

              <div class="widget widget-contact">

                <h6 class="widget-title">Contact</h6>

                <ul>
                  <li>
                    <i class="fa fa-map-marker"></i>
                    4124 Barnes Street, Sanford, <br class="visible-lg-block"> FL 32771
                  </li>
                  <li>
                    <i class="fa fa-phone"></i>
                    407-322-2171
                  </li>
                  <li>
                    <i class="fa fa-envelope"></i>
                    <a href="mailto:hello@milothemes.com">hello@milothemes.com</a>
                  </li>
                </ul>

              </div><!-- widget-contact -->

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

        <div class="container">
          <div class="row">
            <div class="col-sm-push-9 col-sm-3">

              <div class="widget widget-social">

                <div class="social-media">

                  <a class="pinterest" href="#"><i class="fa fa-pinterest"></i></a>
                  <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
                  <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
                  <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
                  <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>

                </div><!-- social-media -->

              </div><!-- widget-social -->

            </div><!-- col -->
            <div class="col-sm-pull-3 col-sm-9">

              <div class="widget widget-text">

                <div>

                  <p><small>milothemes &copy; 2017. All Rights Reserved.</small></p>

                </div>

              </div><!-- widget-text -->

            </div><!-- col -->
          </div><!-- row -->
        </div><!-- container -->

      </div><!-- footer -->

    </footer><!-- FOOTER CONTAINER -->

  </div><!-- MAIN CONTAINER -->


  <!-- SCROLL UP -->
  <a id="scroll-up" class="waves"><i class="fa fa-angle-up"></i></a>


  <!-- THEME OPTIONS -->
  <div id="theme-options"></div>

</div>
